{% extends "base.html" %}

{% block contents %}

<!-- <div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <nav class="container-fluid">
        <a class="navbar-brand" href="/">joowonow2024</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"

        >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/article/subject"
              >Subject</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>
          주제별 논문 결과 확장
        </h1>
      </div>
    </div>

    {% if user_id %}
      <div class="row mt-5">
        <div class="col-12">
          <h4 class="text-info">
            {{ user_id }}님의 관심분야인 {{ userinfo.subject1 }}의 최신 논문입니다.
          </h4>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}


